.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    border-top: 1px solid rgb(28,28,28) !important;
}

.nav-tabs li a:hover, .nav-tabs > .active > a {
    color: #fff !important;
    
    background-color: #E31C25 !important;
    background-image: none !important;
}

.tabbable > .nav > li > a {
    color: #fff !important;
    background-color: #161616 !important;
}

.tabbable > .nav > li[class=active] > a {
    color: #161616 !important;
    background-color: #E31C25 !important;
    font-weight: bold;
}

.small-box.bg-red {
    background-color: #E31C25 !important;
    color: #fff !important;
}

.bttn-pill.bttn-primary {
    color: #fff !important;
    background: #BB000E !important;
}

.bttn-pill.bttn-success {
    color: #fff !important;
    background: #E31C25 !important;
}

.bttn-pill.bttn-warning {
    color: #fff !important;
    background: #BEBEBE !important;
}

table.dataTable tr.active td, table.dataTable td.selected {
    background-color: #E31C25 !important;
}

thead th {
    font-size = 24pt !important
}

td {
    color: #fff !important;

}"
